

/* 代码块圆角 */
#markdown pre {
    border-radius: 1em;
}

/* 列表缩进 */
#markdown ul {
    margin-left: 2em;
}

/* 覆盖chrome默认加粗标题 */
#markdown h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* 大标题前空两行 */
#markdown h1 {
    margin-top: 2em;
}
/* 小标题前空一行*/
#markdown h2,h3,h4 {
    margin-top: 1em;
}

/* 行内短代码 */
#markdown code {
    padding: 2px 4px;
    background: rgba(27,31,35,0.05);
    color: #f47466;
}

/* 链接 */
#markdown a {
    color: #49b1f5;
}

/* 引用语句 */
#markdown blockquote {
    margin: 0 0 20px;
    padding: 12px 15px;
    border-left: 3px solid #49b1f5;
    background-color: rgba(73,177,245,0.1);
    color: #6a737d;
}

/* 图片大小 */
#markdown img {
    max-width: 100%;
}

/* 表格*/

#markdown table {
  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  empty-cells: show;
}
#markdown table thead {
  background: rgba(153,169,191,0.1);
}
#markdown table th,
table td {
  padding: 6px 12px;
  border: 1px solid var(--light-grey);
  vertical-align: middle;
}


/* chrome 默认css表 */

#markdown @namespace "http://www.w3.org/1999/xhtml";

#markdown markdown html {
    display: block;
    page-transition-tag: root;
}


#markdown body {
    display: block;
    margin: 8px;
}

#markdown body:-webkit-full-page-media {
    background-color: rgb(0, 0, 0)
}

#markdown p {
    display: block;
    margin-block-start: 1__qem;
    margin-block-end: 1__qem;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#markdown div {
    display: block
}

#markdown article, aside, footer, header, hgroup, main, nav, section {
    display: block
}

#markdown marquee {
    display: inline-block;
    width: -webkit-fill-available;
}

#markdown address {
    display: block
}

#markdown blockquote {
    display: block;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#markdown figcaption {
    display: block
}

#markdown figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

#markdown q {
    display: inline
}

#markdown q:before {
    content: open-quote;
}

#markdown q:after {
    content: close-quote;
}

#markdown center {
    display: block;
    
    text-align: -webkit-center
}

#markdown hr {
    display: block;
    overflow: hidden;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px
}

#markdown map {
    display: inline
}

#markdown video {
    object-fit: contain;
}

#markdown video:-webkit-full-page-media {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
}

#markdown audio:not([controls]) {
  display: none !important;
}

#markdown audio {
  width: 300px;
  height: 54px;
}


#markdown h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67__qem;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}

#markdown :-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83__qem;
    margin-block-end: 0.83em;
}

#markdown :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.17em;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
}

#markdown :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
    font-size: 1.00em;
    margin-block-start: 1.33__qem;
    margin-block-end: 1.33em;
}

#markdown :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
    font-size: .83em;
    margin-block-start: 1.67__qem;
    margin-block-end: 1.67em;
}

#markdown :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) :-webkit-any(article,aside,nav,section) h1 {
    font-size: .67em;
    margin-block-start: 2.33__qem;
    margin-block-end: 2.33em;
}

#markdown h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83__qem;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}

#markdown h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}

#markdown h4 {
    display: block;
    margin-block-start: 1.33__qem;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}

#markdown h5 {
    display: block;
    font-size: .83em;
    margin-block-start: 1.67__qem;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}

#markdown h6 {
    display: block;
    font-size: .67em;
    margin-block-start: 2.33__qem;
    margin-block-end: 2.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold
}


#markdown table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    box-sizing: border-box;
    text-indent: initial
}

#markdown thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit
}

#markdown tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit
}

#markdown tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit
}

#markdown table > tr {
    vertical-align: middle;
}

#markdown col {
    display: table-column
}

#markdown colgroup {
    display: table-column-group
}

#markdown tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit
}

#markdown td, th {
    display: table-cell;
    vertical-align: inherit
}

#markdown th {
    font-weight: bold;
    text-align: -internal-center
}

#markdown caption {
    display: table-caption;
    text-align: -webkit-center
}


#markdown ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px
}

#markdown ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px
}

#markdown li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#markdown ul ul, ol ul {
    list-style-type: circle
}

#markdown ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square
}

#markdown dd {
    display: block;
    margin-inline-start: 40px
}

#markdown dl {
    display: block;
    margin-block-start: 1__qem;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

#markdown dt {
    display: block
}

#markdown ol ul, ul ol, ul ul, ol ol {
    margin-block-start: 0;
    margin-block-end: 0
}

#markdown form {
    display: block;
    margin-top: 0__qem;
}

#markdown :-webkit-any(table, thead, tbody, tfoot, tr) > form:-internal-is-html {
  display: none !important;
}

#markdown label {
    cursor: default;
}

#markdown legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border: none
}

#markdown fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border: 2px groove #C0C0C0;
    min-inline-size: min-content;
}

#markdown button {
    appearance: auto;
}

#markdown input, textarea, select, button, meter, progress {
    writing-mode: horizontal-tb !important;
}

#markdown input, textarea, select, button {
    margin: 0__qem;
    font: -webkit-small-control;
    text-rendering: auto; 
    color: FieldText;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

#markdown textarea {
  appearance: auto;
  border: 1px solid -internal-light-dark(#767676, #858585);
  column-count: initial !important;
  -webkit-rtl-ordering: logical;
  resize: auto;
  cursor: text;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: Field;
  font-family: monospace;
}

#markdown input {
    appearance: auto;
    padding:1px 0;
    border: 2px inset -internal-light-dark(#767676, #858585);
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: Field;
}

#markdown input[type="search" i] {
    appearance: auto;
    box-sizing: border-box;
}

#markdown input::-webkit-textfield-decoration-container {
    display: flex !important;
    align-items: center;
    -webkit-user-modify: read-only !important;
    content: none !important;
    writing-mode: inherit !important;
    -internal-align-self-block: center;
}

#markdown input::-webkit-clear-button {
    appearance: auto;
    display: inline-block;
    cursor: default;
    flex: none;
    -webkit-user-modify: read-only !important;
    margin-inline-start: 2px;
    opacity: 0;
    pointer-events: none;
}

#markdown input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-clear-button {
    opacity: 1;
    pointer-events: auto;
}

#markdown input[type="search" i]::-webkit-search-cancel-button {
    appearance: auto;
    display: block;
    cursor: default;
    flex: none;
    -webkit-user-modify: read-only !important;
    margin-inline-start: 1px;
    margin-right: 3px;
    opacity: 0;
    pointer-events: none;
    user-select: none !important;
}

#markdown input[type="search" i]:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-search-cancel-button {
    opacity: 1;
    pointer-events: auto;
}

#markdown input[type="search" i]::-webkit-search-results-decoration {
  margin: auto 3px auto 2px;
}

#markdown input,
input[type="email" i],
input[type="number" i],
input[type="password" i],
input[type="search" i],
input[type="tel" i],
input[type="text" i],
input[type="url" i] {
  padding: 1px 2px;
}

#markdown input::-webkit-inner-spin-button {
    appearance: auto;
    display: inline-block;
    cursor: default;
    flex: none;
    align-self: stretch;
    -webkit-user-modify: read-only !important;
    opacity: 0;
    pointer-events: none;
}

#markdown input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-inner-spin-button {
    opacity: 1;
    pointer-events: auto;
}

#markdown ::-webkit-input-placeholder {
    -webkit-text-security: none;
    color: #757575;
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
}

#markdown input::-webkit-input-placeholder {
    text-overflow: inherit;
    line-height: initial !important;
    white-space: pre;
    word-wrap: normal;
    overflow: hidden;
    -webkit-user-modify: read-only !important;
}

#markdown input::-internal-input-suggested {
    text-overflow: inherit;
    white-space: nowrap;
    overflow: hidden;
}

#markdown input::-internal-input-suggested,
textarea::-internal-input-suggested {
    font: -webkit-small-control !important;
    
    overflow: hidden !important;
    overflow-anchor: none;
}

#markdown textarea::-internal-input-suggested {
  font-family: monospace !important;
}

#markdown input[type="password" i] {
    -webkit-text-security: disc !important;
}

#markdown input[type="password" i]::-internal-input-suggested {
    -webkit-text-security: disc !important;
}

#markdown input[type="password" i]::-internal-reveal {
  width: 1.3em;
  height: 1.3em;
  cursor: default;
  flex: none;
  background-image: -webkit-image-set(url(images/password_reveal_on.svg) 1x);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 3px;
  margin-right: 3px;
}

#markdown input[type="password" i]::-internal-reveal.reveal {
  background-image: -webkit-image-set(url(images/password_reveal_off.svg) 1x);
}

#markdown input[type="password" i]::-internal-reveal:hover,
input[type="password" i]::-internal-reveal:focus {
  border-radius: 1px;
  cursor: pointer;
}

#markdown input[type="hidden" i], input[type="image" i], input[type="file" i] {
    appearance: none;
    padding: initial;
    background-color: initial;
    border: initial;
    cursor: default;
}

#markdown input[type="file" i] {
    align-items: baseline;
    color: inherit;
    overflow: hidden !important;
    text-align: start !important;
    text-overflow: ellipsis;
    white-space: pre;
}

#markdown input[type="image" i] {
    cursor: pointer;
}

#markdown input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  appearance: menulist-button;
  background-image:none !important;
  background-color: -internal-light-dark(#E8F0FE, rgba(70,90,126,0.4)) !important;
  color: FieldText !important;
}

#markdown input[type="radio" i],
input[type="checkbox" i] {
    margin:3px 3px 3px 4px;
    padding: initial;
    background-color: initial;
    border: initial;
    cursor: default;
}

#markdown input[type="radio" i] {
  margin:3px 3px 0 5px;
}

#markdown input[type="button" i], input[type="submit" i], input[type="reset" i] {
    -internal-empty-line-height: fabricated;
    appearance: auto;
    user-select: none;
    white-space: pre
}

#markdown input[type="file" i]::-webkit-file-upload-button {
    appearance: auto;
    -webkit-user-modify: read-only !important;
    white-space: nowrap;
    margin: 0;
    margin-inline-end: 4px;
    font-size: inherit;
}

#markdown input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    padding: 1px 6px;
    border: 2px outset ButtonBorder;
    box-sizing: border-box;
    background-color: ButtonFace;
    color: ButtonText;
}

#markdown input[type="checkbox" i]:disabled,
input[type="file" i]:disabled,
input[type="hidden" i]:disabled,
input[type="image" i]:disabled,
input[type="radio" i]:disabled,
input[type="range" i]:disabled {
    background-color: initial;
}

#markdown input[type="range" i] {
    appearance: auto;
    padding: initial;
    border: initial;
    margin: 2px;
    cursor: default;
    color: -internal-light-dark(#101010, #ffffff);
}

#markdown input[type="range" i]::-webkit-slider-container,
input[type="range" i]::-webkit-media-slider-container {
    appearance: inherit;
    flex: 1;
    min-inline-size: 0;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: flex;
}

#markdown input[type="range" i]:-internal-has-datalist::-webkit-slider-container {
    
    min-block-size: 22px;
}

#markdown input[type="range" i]::-webkit-slider-runnable-track {
    flex: 1;
    min-inline-size: 0;
    align-self: center;

#markdown     box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: block;
}

#markdown input[type="range" i]::-webkit-slider-thumb,
input[type="range" i]::-webkit-media-slider-thumb {
    appearance: auto;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    display: block;
}

#markdown input[type="range" i]:disabled {
  color: #c5c5c5;
}

#markdown input[type="button" i]:disabled,
input[type="submit" i]:disabled,
input[type="reset" i]:disabled,
input[type="color" i]:disabled,
input[type="file" i]:disabled::-webkit-file-upload-button,
button:disabled {
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
}

#markdown select:disabled,
optgroup:disabled,
option:disabled,
select[disabled]>option {
    color: -internal-light-dark(GrayText, #aaa);
}

#markdown input[type="button" i]:active, input[type="submit" i]:active, input[type="reset" i]:active, input[type="file" i]:active::-webkit-file-upload-button, button:active {
    border-style: inset
}

#markdown input[type="button" i]:active:disabled, input[type="submit" i]:active:disabled, input[type="reset" i]:active:disabled, input[type="file" i]:active:disabled::-webkit-file-upload-button, button:active:disabled {
    border-style: outset
}

#markdown input:disabled, textarea:disabled {
    cursor: default;
    background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
    color: -internal-light-dark(#545454, #aaaaaa);
}

#markdown input:disabled,
select:disabled,
textarea:disabled {
  border-color: rgba(118, 118, 118, 0.3);
}

#markdown option:-internal-spatial-navigation-focus {
    outline: -internal-light-dark(black, white) dashed 1px;
    outline-offset: -1px;
}


#markdown area {
  display: inline;
}
#markdown base, basefont, datalist, head, link, meta, noembed,
noframes, param, rp, script, style, template, title {
  display: none;
}
#markdown input[type="hidden" i] {
  display: none !important;
}

#markdown area:-webkit-any-link {
    cursor: pointer;
}

#markdown input[type="checkbox" i] {
    appearance: auto;
    box-sizing: border-box;
}

#markdown input[type="radio" i] {
    appearance: auto;
    box-sizing: border-box;
}

#markdown input[type="color" i] {
    appearance: auto;
    width: 50px;
    height: 27px;
    
    border: 1px solid ButtonBorder;
    padding: 1px 2px;
    cursor: default;
    box-sizing: border-box;
    background-color: ButtonFace;
    color: ButtonText;
}

#markdown input[type="color" i]::-webkit-color-swatch-wrapper {
    display: flex;
    padding: 4px 2px;
    box-sizing: border-box;
    -webkit-user-modify: read-only !important;
    width: 100%;
    height: 100%
}

#markdown input[type="color" i]::-webkit-color-swatch {
    
    color-scheme: only light;
    background-color: #000000;
    border: 1px solid #777777;
    flex: 1;
    min-width: 0;
    -webkit-user-modify: read-only !important;
}

#markdown input[type="color" i][list] {
    appearance: auto;
    width: 94px;
    height: 27px
}

#markdown input[type="color" i][list]::-webkit-color-swatch-wrapper {
    padding-inline-start: 8px;
    padding-inline-end: 24px;
}

#markdown input[type="color" i][list]::-webkit-color-swatch {
    border-color: #000000;
}

#markdown input::-webkit-calendar-picker-indicator {
    display: inline-block;
    width: 0.66em;
    height: 0.66em;
    padding: 0.17em 0.34em;
    -webkit-user-modify: read-only !important;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}

#markdown input::-webkit-calendar-picker-indicator:hover {
    background-color: #eee;
}

#markdown input:enabled:read-write:-webkit-any(:focus,:hover)::-webkit-calendar-picker-indicator,
input::-webkit-calendar-picker-indicator:focus {
    opacity: 1;
    pointer-events: auto;
}

#markdown input[type="date" i]:disabled::-webkit-clear-button,
input[type="date" i]:disabled::-webkit-inner-spin-button,
input[type="datetime-local" i]:disabled::-webkit-clear-button,
input[type="datetime-local" i]:disabled::-webkit-inner-spin-button,
input[type="month" i]:disabled::-webkit-clear-button,
input[type="month" i]:disabled::-webkit-inner-spin-button,
input[type="week" i]:disabled::-webkit-clear-button,
input[type="week" i]:disabled::-webkit-inner-spin-button,
input:disabled::-webkit-calendar-picker-indicator,
input[type="date" i][readonly]::-webkit-clear-button,
input[type="date" i][readonly]::-webkit-inner-spin-button,
input[type="datetime-local" i][readonly]::-webkit-clear-button,
input[type="datetime-local" i][readonly]::-webkit-inner-spin-button,
input[type="month" i][readonly]::-webkit-clear-button,
input[type="month" i][readonly]::-webkit-inner-spin-button,
input[type="week" i][readonly]::-webkit-clear-button,
input[type="week" i][readonly]::-webkit-inner-spin-button,
input[readonly]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}

#markdown select {
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: FieldText;
    background-color: Field;
    border: 1px solid -internal-light-dark(#767676, #858585);
    cursor: default;
    border-radius: 0;
}

#markdown select:disabled {
  opacity: 0.7;
}


#markdown select:-internal-list-box {
    appearance: auto;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    vertical-align: text-bottom;
    white-space: nowrap;
    border-radius: 2px;
}

#markdown select:not(:-internal-list-box) {
    overflow: visible !important;
}

#markdown select:-internal-list-box optgroup option:before {
    content: "\00a0\00a0\00a0\00a0";;
}

#markdown select:-internal-list-box option,
select:-internal-list-box optgroup {
    line-height: initial !important;
}


#markdown select:-internal-list-box:focus option:checked,
select:-internal-list-box:focus option:checked:hover {
    background-color: SelectedItem !important;
    color: SelectedItemText !important;
}

#markdown select:-internal-list-box:focus option:checked:disabled {
    background-color: -internal-inactive-list-box-selection !important;
}

#markdown select:-internal-list-box option:checked,
select:-internal-list-box option:checked:hover {
    background-color: -internal-light-dark(#cecece, #545454);
    color: -internal-light-dark(#101010, #FFFFFF);
}

#markdown select:-internal-list-box:disabled option:checked,
select:-internal-list-box option:checked:disabled,
select:-internal-list-box option:checked:disabled:hover {
    color: -internal-light-dark(gray, #aaa);
}

#markdown select:-internal-list-box hr {
    border-style: none;
    margin-block-start: 0.5em;
    margin-block-end: 0;
}

#markdown select:-internal-list-box:focus-visible option:-internal-multi-select-focus {
    outline: auto 1px -webkit-focus-ring-color;
    outline-offset: -1px;
}

#markdown select:-internal-list-box option:hover {
    background-color: initial;
}

#markdown optgroup {
    font-weight: bolder;
    display: block;
}

#markdown option {
    font-weight: normal;
    display: block;
    padding: 0 2px 1px 2px;
    white-space: nowrap;
    min-height: 1.2em;
}

#markdown output {
    display: inline;
}


#markdown meter {
    appearance: auto;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 5em;
    vertical-align: -0.2em;
    -webkit-user-modify: read-only !important;
}

#markdown meter::-webkit-meter-inner-element {
    appearance: inherit;
    box-sizing: inherit;
    display: none;
    -webkit-user-modify: read-only !important;
    height: 100%;
    width: 100%;
}

#markdown meter::-webkit-meter-inner-element:-internal-shadow-host-has-appearance {
    display: grid;
    grid-template-rows: 1fr [line1] 2fr [line2] 1fr;
    position: relative;
}

#markdown meter::-internal-fallback:-internal-shadow-host-has-appearance {
    display: none;
}

#markdown meter::-webkit-meter-bar {
    height: 100%;
    width: 100%;
    -webkit-user-modify: read-only !important;
    background: -internal-light-dark(#efefef, #3B3B3B);
    border: thin solid -internal-light-dark(rgba(118, 118, 118, 0.3), #858585);
    grid-row-start: line1;
    grid-row-end: line2;
    border-radius: 20px;
    box-sizing: border-box;
    align-self: unsafe center;
    position: absolute;
    overflow: hidden;
}

#markdown meter::-webkit-meter-optimum-value {
    height: 100%;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
    background: -internal-light-dark(#107c10, #74b374)
}

#markdown meter::-webkit-meter-suboptimum-value {
    height: 100%;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
    background: -internal-light-dark(#ffb900, #f2c812)
}

#markdown meter::-webkit-meter-even-less-good-value {
    height: 100%;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
    background: -internal-light-dark(#d83b01, #e98f6d)
}


#markdown progress {
    appearance: auto;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 10em;
    vertical-align: -0.2em;
}

#markdown progress::-webkit-progress-inner-element {
    box-sizing: inherit;
    -webkit-user-modify: read-only;
    height: 100%;
    width: 100%;
}

#markdown progress::-webkit-progress-bar {
    background-color: gray;
    height: 100%;
    width: 100%;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
}

#markdown progress::-webkit-progress-value {
    background-color: green;
    height: 100%;
    width: 50%; 
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
}


#markdown u, ins {
    text-decoration: underline
}

#markdown abbr[title], acronym[title] {
    text-decoration: dotted underline;
}

#markdown strong, b {
    font-weight: bold
}

#markdown i, cite, em, var, address, dfn {
    font-style: italic
}

/* 不需要字体覆盖
#markdown tt, code, kbd, samp {
    font-family: monospace
}
*/

#markdown pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1__qem 0
}

#markdown mark {
    background-color: Mark;
    color: MarkText;
}

#markdown big {
    font-size: larger
}

#markdown small {
    font-size: smaller
}

#markdown s, strike, del {
    text-decoration: line-through
}

#markdown sub {
    vertical-align: sub;
    font-size: smaller
}

#markdown sup {
    vertical-align: super;
    font-size: smaller
}

#markdown nobr {
    white-space: nowrap
}


#markdown :-internal-selector-fragment-anchor {
    outline: Highlight 3px solid;
}

#markdown :-internal-spatial-navigation-interest {
    outline: auto 1px -webkit-focus-ring-color !important;
    box-shadow: none !important
}

#markdown :focus-visible {
    outline: auto 1px -webkit-focus-ring-color
}

#markdown html:focus-visible, body:focus-visible {
    outline: none
}

#markdown embed:focus-visible, iframe:focus-visible, object:focus-visible {
    outline: none
}

#markdown input:focus-visible, textarea:focus-visible, select:focus-visible {
    outline-offset: 0;
}

#markdown input[type="button" i]:focus-visible,
input[type="file" i]:focus-visible,
input[type="hidden" i]:focus-visible,
input[type="image" i]:focus-visible,
input[type="reset" i]:focus-visible,
input[type="submit" i]:focus-visible,
input[type="file" i]:focus-visible::-webkit-file-upload-button {
    outline-offset: 0
}

#markdown input[type="checkbox" i]:focus-visible,
input[type="radio" i]:focus-visible {
  outline-offset: 2px;
}

#markdown input[type="date" i]::-webkit-calendar-picker-indicator,
input[type="datetime-local" i]::-webkit-calendar-picker-indicator,
input[type="month" i]::-webkit-calendar-picker-indicator,
input[type="week" i]::-webkit-calendar-picker-indicator {
  background-image: -internal-light-dark(-webkit-image-set(url(images/calendar_icon.svg) 1x), -webkit-image-set(url(images/calendar_icon_white.svg) 1x));
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.0em;
  width: 1.0em;
  opacity: 1;
  outline: none;
  padding: 2px;
}

#markdown input[type="date" i]::-webkit-calendar-picker-indicator:focus-visible,
input[type="datetime-local" i]::-webkit-calendar-picker-indicator:focus-visible,
input[type="month" i]::-webkit-calendar-picker-indicator:focus-visible,
input[type="week" i]::-webkit-calendar-picker-indicator:focus-visible {
  outline: solid 2px -webkit-focus-ring-color;
  outline-offset: -2px;
}

#markdown input[type="time" i]::-webkit-calendar-picker-indicator {
  background-image: -internal-light-dark(-webkit-image-set(url(images/time_icon.svg) 1x), -webkit-image-set(url(images/time_icon_white.svg) 1x));
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  height: 1.05em;
  margin-inline-start: 8px;
  opacity: 1;
  outline: none;
  padding-bottom: 3px;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
  padding-top: 3px;
  width: 1.05em;
}

#markdown input[type="time" i]::-webkit-calendar-picker-indicator:focus-visible {
  outline: solid 2px -webkit-focus-ring-color;
  outline-offset: -2px;
}

#markdown input::-webkit-calendar-picker-indicator:hover {
  background-color: initial;
}

#markdown input::-webkit-datetime-edit-ampm-field:focus,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-millisecond-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-second-field:focus,
input::-webkit-datetime-edit-week-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: -internal-light-dark(highlight, #99C8FF);
    color: -internal-light-dark(highlighttext, #000000);
    outline: none;
}

#markdown input::-webkit-datetime-edit-year-field[disabled],
input::-webkit-datetime-edit-month-field[disabled],
input::-webkit-datetime-edit-week-field[disabled],
input::-webkit-datetime-edit-day-field[disabled],
input::-webkit-datetime-edit-ampm-field[disabled],
input::-webkit-datetime-edit-hour-field[disabled],
input::-webkit-datetime-edit-millisecond-field[disabled],
input::-webkit-datetime-edit-minute-field[disabled],
input::-webkit-datetime-edit-second-field[disabled] {
    color: -internal-light-dark(GrayText, rgb(165, 165, 165));
}
/* 不要覆盖a标签的样式
#markdown a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: pointer;
}
*/

#markdown a:-webkit-any-link:active {
    color: -webkit-activelink
}

#markdown a:-webkit-any-link:read-write {
    cursor: text;
}

#markdown a:-webkit-any-link:focus-visible {
  outline-offset: 1px;
}

#markdown a:-webkit-any-link::target-text {
    text-decoration:underline;
    background-color:#E9D2FD;
}


#markdown ruby, rt {
    text-indent: 0; 
}

#markdown rt {
    line-height: normal;
    text-emphasis: none;
}

#markdown ruby > rt {
    display: block;
    font-size: 50%;
    text-align: start;
}


#markdown frameset, frame {
    display: block
}

#markdown frameset {
    border-color: inherit
}

#markdown iframe {
    border: 2px inset
}

#markdown fencedframe {
    border: 2px inset;
    object-fit: contain !important;
    object-position: 50% 50% !important;
}

#markdown details {
    display: block
}

#markdown summary {
    display: block
}

#markdown details > summary:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: disclosure-closed inside;
}

#markdown details[open] > summary:first-of-type {
    list-style-type: disclosure-open;
}

#markdown bdi, output {
    unicode-bidi: isolate;
}

#markdown bdo {
    unicode-bidi: bidi-override;
}

#markdown textarea[dir=auto i] {
    unicode-bidi: plaintext;
}

#markdown dialog:not([open],[popup]:-internal-popup-opening-or-open) {
    
    display: none;
}

#markdown dialog {
    display: block;
    
    position: absolute;
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: solid;
    padding: 1em;
    background-color: Canvas;
    color: CanvasText;
}

#markdown dialog:modal {
    
    position: fixed;
    overflow: auto;
    inset-block-start: 0;
    inset-block-end: 0;
    max-width: calc(100% - 6px - 2em);
    max-height: calc(100% - 6px - 2em);
    
    user-select: text;
    visibility: visible;
}

#markdown dialog::backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    background: rgba(0,0,0,0.1)
}

#markdown slot {
    display: contents;
}

#markdown @page {
    
    size: auto;
    margin: auto;
    padding: 0px;
    border-width: 0px;
}

#markdown @media print {
    thead { break-inside:avoid; }
    tfoot { break-inside:avoid; }
}


#markdown html::spelling-error {
    text-decoration: -internal-spelling-error-color spelling-error;
}

#markdown html::grammar-error {
    text-decoration: -internal-grammar-error-color grammar-error;
}

